<!-- login component -->
<div *ngIf="display == 'login'" class="centerCenter">
  <Form
    class="formBox"
    autocomplete="off"
    ngForm
    #fl="ngForm"
    (ngSubmit)="submit(fl)"
  >
    <h2>Log into TRMS</h2>
    <div class="formElement">
      <input
        ngModel
        #username="ngModel"
        required
        type="text"
        name="username"
        placeholder="Username"
      />
      <div *ngIf="username.touched && username.invalid" class="alert">
        <div *ngIf="username.errors.required">This field is required</div>
      </div>
    </div>

    <div class="formElement">
      <input
        ngModel
        #password="ngModel"
        required
        type="password"
        name="password"
        placeholder="Password"
      />
      <div *ngIf="password.touched && password.invalid" class="alert">
        <div *ngIf="password.errors.required">This field is required</div>
      </div>
    </div>
    <div class="formElement">
      <input type="submit" [disabled]="!fl.valid" value="Log in" />
    </div>
  </Form>
</div>

<!-- dashboard component -->
<div *ngIf="display != 'login'" class="dashboardBox">
  <h3>Tuition Reimbursement Management System</h3>
  <div class="header row">
    <div class="col75">
      <h4 id="welcome">Welcome {{ user.firstName }} {{ user.lastName }}</h4>
      <a
        [ngClass]="{
          active:
            display == 'forms' || (display == 'focus' && focus.empID == user.id)
        }"
        (click)="displayChange('forms')"
        >My Forms</a
      >
      <a
        [ngClass]="{
          active: display == 'newForm'
        }"
        (click)="displayChange('newForm')"
        >New Form</a
      >
      <a
        [ngClass]="{
          active:
            display == 'manage' ||
            (display == 'focus' && focus.empID != user.id)
        }"
        *ngIf="user.title != 'Associate' || user.department == 'Benefits'"
        (click)="displayChange('manage')"
        >Manage</a
      >
      <a (click)="displayChange('login')">Log out</a>
    </div>
    <div class="infoBox col25">
      <p>available ${{ availableReinbursement }}</p>
    </div>
  </div>
  <hr />

  <!-- myforms -->
  <div *ngIf="display == 'forms'" class="row">
    <ul class="col">
      <h4 class="listTitle">Submitted forms</h4>
      <li class="noInput" *ngIf="forms.length == 0">{{ myFormsMessage }}</li>
      <li *ngFor="let item of forms">
        <div class="btnBox">
          <button (click)="focusOn(item)">View</button>
          {{ item.formSubDate.substr(5, 5) }}
        </div>
        <div class="msgBox">ID: {{ item.id }}, Status: {{ item.status }}</div>
      </li>
    </ul>
    <ul class="col">
      <h4 class="listTitle">Messages</h4>
      <li class="noInput" *ngIf="messages.length == 0">
        {{ myMessagesMessage }}
      </li>
      <li *ngFor="let item of messages">
        <div class="btnBox">
          <button (click)="remove(item)">X</button>
          {{ item.submittedOn.substr(5, 5) }}
        </div>
        <div class="msgBox">{{ item.message }}</div>
      </li>
    </ul>
  </div>

  <!-- manageForms -->
  <div *ngIf="display == 'manage'" class="row">
    <ul class="col">
      <h4 class="listTitle">list for submitted forms</h4>
      <li *ngIf="!manageForms">No forms to review</li>
      <li *ngFor="let item of manageForms">
        <div class="btnBox">
          <button (click)="focusOn(item)">View</button>
          {{ item.formSubDate.substr(5, 5) }}
        </div>
        <div class="msgBox">ID: {{ item.id }} Status: {{ item.status }}</div>
      </li>
    </ul>
    <ul class="col"></ul>
  </div>

  <!-- focus form -->
  <div *ngIf="display == 'focus'">
    <div class="centerCenter">
      <div class="formBox">
        <h2>Tuition Reimbursement Form</h2>
        <!-- If form is Urgent -->
        <div
          style="text-align: center; color: red;"
          *ngIf="
            focus.isUrgent &&
            focus.empID != user.id &&
            focus.status != 'Pending'
          "
        >
          This is Urgent
        </div>
        <!-- If form isAltered -->
        <div style="text-align: center; color: red;">
          <div *ngIf="focus.isAltered == 'True'">
            This form has been altered
          </div>
          <div *ngIf="focus.isAltered == 'Approved'">
            This form has been altered & approved
          </div>
          <div *ngIf="focus.isAltered == 'Declined'">
            This form has been altered & declined
          </div>
        </div>
        <div class="formElement">
          <p>
            Employee ID:
            <span *ngIf="focusEmployee">{{ focusEmployee.id }}</span>
          </p>
        </div>
        <div class="formElement">
          <p>
            First name:
            <span *ngIf="focusEmployee">{{ focusEmployee.firstName }}</span>
          </p>
        </div>
        <div class="formElement">
          <p>
            Last name:
            <span *ngIf="focusEmployee">{{ focusEmployee.lastName }}</span>
          </p>
        </div>

        <div class="row">
          <div class="formElement">
            <label for="startDate">Start date </label> <br />
            <input
              disabled
              class="disabled"
              [value]="focus.startDate.substr(0, 10)"
            />
          </div>

          <div class="formElement">
            <label for="startTime">Start time </label> <br />
            <input disabled class="disabled" [value]="focus.startTime" />
          </div>
        </div>

        <div class="formElement">
          <label for="location">Location </label> <br />
          <input disabled class="disabled" [value]="focus.location" />
        </div>

        <div class="row">
          <div class="formElement">
            <label for="cost">Event cost </label> <br />
            <input disabled class="disabled" [value]="focus.cost" />
          </div>
          <div
            *ngIf="focus.isAltered == 'True'"
            class="formElement"
            style="color: red;"
          >
            <label for="return">Estimated return</label> <br />
            <input style="color: red;" disabled [value]="focus.pendingRe" />
          </div>

          <div class="formElement" *ngIf="focus.isAltered != 'True'">
            <label for="return">Estimated return</label> <br />
            <input disabled class="disabled" [value]="focus.pendingRe" />
          </div>
        </div>

        <div class="row">
          <div class="formElement col">
            <label for="gradingFormat">Grading Format </label> <br />
            <input
              disabled
              class="disabled"
              [value]="gradingFormat(focus.gradeFormatID)"
              type="text"
            />
          </div>

          <div class="formElement col">
            <label>Event type </label> <br />
            <input
              disabled
              class="disabled"
              [value]="eventType(focus.eventType)"
              type="text"
            />
          </div>
        </div>

        <div class="formElement">
          <label for="description">Description </label> <br />
          <textarea
            disabled
            class="disabled"
            [placeholder]="focus.description"
            cols="30"
            rows="5"
          ></textarea>
        </div>

        <div class="formElement">
          <label for="justification"
            >Work related justification
            <textarea
              disabled
              class="disabled"
              [placeholder]="focus.justification"
              cols="30"
              rows="5"
            ></textarea>
          </label>
        </div>
        <!--If Grades are submitted-->
        <div *ngIf="focus.finalGrade" class="formElement">
          Final Grade is {{ focus.finalGrade }}%
        </div>
        <div *ngIf="focus.finalPres" class="formElement">
          <a [href]="focus.finalPres">Final Presentation</a>
        </div>
        <!--If rejected Notes are here-->
        <div *ngIf="focus.rejectMessage" class="formElement">
          Denial Reason: {{ focus.rejectMessage }}
        </div>
        <!--If Pending Starts Here-->
        <div *ngIf="focus.status == 'Pending'">
          <!-- Manager confirm-deny final -->
          <div *ngIf="user.id != focus.empID">
            <div
              *ngIf="focus.finalGrade && focus.gradeApr == 'False'"
              class="formElement"
            >
              <div class="buttonBox">
                <button (click)="changeApprovalStatus('ConfirmGrade')">
                  Confirm
                </button>
                <button (click)="changeApprovalStatus('RejectGrade')">
                  Deny
                </button>
              </div>
            </div>
            <div
              *ngIf="focus.finalPres && focus.presApr == 'False'"
              class="formElement"
            >
              <div class="buttonBox">
                <button (click)="changeApprovalStatus('ConfirmPres')">
                  Confirm
                </button>
                <button (click)="changeApprovalStatus('RejectPres')">
                  Deny
                </button>
              </div>
            </div>
          </div>

          <!-- Employee submit final Grade/Presentation -->
          <div *ngIf="user.id == focus.empID">
            <!-- Employee submit final Grade -->
            <div
              *ngIf="
                (focus.status == 'Pending' && focus.finalGrade) ||
                focus.finalPres
              "
              style="text-align: center;"
              ;
            >
              Final submitted and awaiting review
            </div>
            <form
              #fgrade="ngForm"
              *ngIf="focus.gradeFormatID < 4 && !focus.finalGrade"
              (ngSubmit)="
                submitFormElement('SubmitFinalGrade', fgrade.value.finalGrade)
              "
            >
              <div class="row">
                <div class="col formElement">
                  <p>Submit Grade</p>
                </div>
                <div class="formElement">
                  <label for="finalGrade">
                    <!--Couldn't seem to set max limit-->
                    <input
                      ngModel
                      required
                      #finalGrade="ngModel"
                      placeholder="Enter your final grade"
                      type="number"
                      max="100"
                      name="finalGrade"
                      id="finalGrade"
                    />
                  </label>
                </div>
                <div
                  *ngIf="finalGrade.touched && finalGrade.invalid"
                  class="alert"
                >
                  <div *ngIf="finalGrade.errors.required">
                    This field is required
                  </div>
                </div>
              </div>
              <div class="formElement">
                <input
                  [disabled]="!fgrade.valid"
                  type="submit"
                  value="Submit Final Grade"
                />
              </div>
            </form>
            <!-- Employee Submit Final Presentation -->
            <form
              #fpres="ngForm"
              *ngIf="focus.gradeFormatID >= 4"
              (ngSubmit)="
                submitFormElement('SubmitFinalPres', fpres.value.finalPres)
              "
            >
              <div *ngIf="focus.gradeFormatID >= 4" class="row">
                <div class="col formElement">
                  <p>Submit Presentation</p>
                </div>
                <div class="formElement">
                  <label for="finalPres">
                    <input
                      ngModel
                      required
                      #finalPres="ngModel"
                      type="file"
                      name="finalPres"
                      id="finalPres"
                    />
                  </label>
                </div>
              </div>
              <div class="formElement">
                <input
                  [disabled]="
                    !fpres.valid || focus.finalGrade || focus.finalPres
                  "
                  type="submit"
                  value="Submit Final Presentation"
                />
              </div>
            </form>

            <!-- End Employee submit final Grade -->
          </div>
        </div>
        <!--If Not Pending Starts Here-->
        <div *ngIf="focus.status != 'Pending'">
          <div *ngIf="user.id != focus.empID">
            <!-- Mangment Approve/Decline submitted form -->
            <div class="buttonBox">
              <button
                [disabled]="isThinking"
                (click)="changeApprovalStatus('ApproveForm')"
              >
                Approve
              </button>
              <!-- <button
                [disabled]="isThinking"
                (click)="declineReason = !declineReason"
              >
                Decline
              </button> -->
              <select
                [disabled]="isThinking"
                style="display: inline-block; width: 50%; min-height: 30px;"
                (change)="onOptionChange($event)"
              >
                <option selected disabled value="1">Additional Options</option>
                <option value="2">Decline</option>
                <option value="3">Request Info</option>
                <option *ngIf="user.department == 'Benefits'" value="4"
                  >Alter Form</option
                >
              </select>
            </div>
            <!-- radio style options for management -->
            <div>
              <!-- Mangment Request Aditional Info -->
              <div style="text-align: center;" class="formElement">
                <form
                  ngForm
                  #fa="ngForm"
                  (ngSubmit)="sendMessage(fa)"
                  *ngIf="options == 3"
                >
                  <!--TODO: make from employee a select with varOptions -->
                  <div class="formElement">
                    <label for="requestMessage">
                      <textarea
                        ngModel
                        required
                        name="requestMessage"
                        id="requestMessage"
                        #requestMessage="ngModel"
                        placeholder="ex. I need more information please."
                        cols="30"
                        rows="5"
                      ></textarea>
                    </label>
                  </div>

                  <div class="formElement">
                    <label for="requestSubmit">
                      <input
                        name="requestSubmit"
                        id="requestSubmit"
                        type="submit"
                        [disabled]="!fa.valid || isThinking"
                        value="Submit"
                      />
                    </label>
                  </div>
                </form>
              </div>
              <!-- Mangment Decline Reason submitted form -->
              <div style="text-align: center;" class="formElement">
                <form
                  ngForm
                  #fd="ngForm"
                  (ngSubmit)="
                    changeApprovalStatus('DenyForm', fd.value.declineReason)
                  "
                  *ngIf="options == 2"
                >
                  <div class="formElement">
                    <label for="declineReason">
                      <textarea
                        ngModel
                        required
                        name="declineReason"
                        id="declineReason"
                        #declineReason="ngModel"
                        placeholder="ex. Not valid material."
                        cols="30"
                        rows="5"
                      ></textarea>
                    </label>
                  </div>

                  <div class="formElement">
                    <label for="declineSubmit">
                      <input
                        name="declineSubmit"
                        id="declineSubmit"
                        type="submit"
                        [disabled]="!fd.valid"
                        value="Submit"
                      />
                    </label>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- Employee accept/deny if altered by BenCo -->
          <div *ngIf="user.id == focus.empID">
            <div *ngIf="user"></div>

            <div class="formElement" *ngIf="focus.isAltered == 'True'">
              This form has been reviewed and altered by the Benefit
              Coordinator. Keep the changes?
              <div class="buttonBox">
                <button (click)="changeApprovalStatus('AcceptBenCoOffer')">
                  Accept</button
                ><button (click)="changeApprovalStatus('DeclineBenCoOffer')">
                  Decline
                </button>
              </div>
            </div>
          </div>
          <!--Display if BenCo offer different amount -->

          <form
            ngForm
            #fAlter="ngForm"
            (ngSubmit)="
              submitFormElement('AlterForm', fAlter.value.suggestAlter)
            "
            *ngIf="options == 4"
          >
            <div class="formElement">
              <label for="suggestAlter">
                <input
                  ngModel
                  required
                  name="suggestAlter"
                  id="suggestAlter"
                  #suggestAlter="ngModel"
                  type="number"
                  [placeholder]="focus.pendingRe"
                />
              </label>
            </div>

            <div class="formElement">
              <label for="suggestSubmit">
                <input
                  name="suggestSubmit"
                  id="suggestSubmit"
                  type="submit"
                  [disabled]="!fAlter.valid || isThinking"
                  value="Submit"
                />
              </label>
            </div>
          </form>
        </div>
        <!--If Not Pending Ends Here-->
      </div>
    </div>
  </div>
  <!-- new form -->
  <r-form
    (submitted)="onSubmitted($event)"
    *ngIf="display == 'newForm'"
    [user]="user"
    [availableReinbursement]="availableReinbursement"
  >
  </r-form>
</div>
