* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
#handPerimeter {
  justify-content: center;
}
#discardPerimeter {
  justify-content: center;
}
#activePerimeter {
  border: 1px solid black;
  height: 100%;
}
#cardPerimeter {
  padding: 5px;
  margin: 10px;
  height: 170px;
  width: 90px;
  border: 1px solid black;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
#myCanvas {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}
canvas {
  margin: 5px;
}
button {
  background-color: lightgray;
  border-radius: 5px;
}
button:hover {
  background-color: lightslategray;
}
