<form
  #resetForm="ngForm"
  (submit)="submitReset(resetForm.value)"
  class="d-inline-flex"
>
  <div class="inLine">
    <input
      ngModel
      class="form-control shadow1"
      #username="ngModel"
      required
      placeholder="Username"
      type="text"
      name="username"
    />
  </div>
  <div class="inLine">
    <input
      ngModel
      class="form-control shadow1"
      #passwordOld="ngModel"
      required
      placeholder="Old Password"
      type="password"
      name="passwordOld"
    />
  </div>
  <div class="inLine">
    <input
      ngModel
      class="form-control shadow1"
      #passwordNew="ngModel"
      required
      placeholder="New Password"
      type="password"
      name="passwordNew"
    />
  </div>
  <div class="inLine">
    <input
      class="form-control shadow1 btn btn-outline-light"
      [disabled]="!resetForm.valid"
      type="submit"
      value="submit"
    />
  </div>
</form>
