<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>TRMS</display-name>
  <servlet>
    <description></description>
    <display-name>RFormServlet</display-name>
    <servlet-name>RFormServlet</servlet-name>
    <servlet-class>com.revature.servlets.RFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RFormServlet</servlet-name>
    <url-pattern>/rform/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageServlet</display-name>
    <servlet-name>MessageServlet</servlet-name>
    <servlet-class>com.revature.servlets.MessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageServlet</servlet-name>
    <url-pattern>/message/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeSevlet</display-name>
    <servlet-name>EmployeeSevlet</servlet-name>
    <servlet-class>com.revature.servlets.EmployeeSevlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeSevlet</servlet-name>
    <url-pattern>/employee/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatus</display-name>
    <servlet-name>UpdateStatus</servlet-name>
    <servlet-class>com.revature.servlets.UpdateStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatus</servlet-name>
    <url-pattern>/status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Manage</display-name>
    <servlet-name>Manage</servlet-name>
    <servlet-class>com.revature.servlets.Manage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Manage</servlet-name>
    <url-pattern>/manage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SystemServlet</display-name>
    <servlet-name>SystemServlet</servlet-name>
    <servlet-class>com.revature.servlets.SystemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SystemServlet</servlet-name>
    <url-pattern>/system</url-pattern>
  </servlet-mapping>
</web-app>