<div style="height: 10px;"></div>
<div
  style="border-radius: 5px; padding-top: 8px;"
  class="shadow1 container ht1 color1"
>
  🅲🆁🅴🅰🆃🅴 🅰 🅽🅴🆆 🆂🆀🆄🅰🆆🅺
</div>
<div style="height: 10px;"></div>
<div class="shadow1 post-bg1">
  <div class="m-0 ht3 color2 post-topBar"></div>
  <user-content-input-form
    (newPost)="pushPost($event)"
    [user]="user"
    type="post"
  ></user-content-input-form>
  <div class="m-auto row container color2 ht3 post-botBar"></div>
</div>
<div style="height: 20px;"></div>
